#Ignore Docker files
.dockerignore
Dockerfile


#Ignoring git and cache folders
.git
.cache
.gitignore

#Ignoring all the markdown files
*.md

#Ignoring app files and folders
*.yml
templates
node_modules
.env